body {
  background-color: teal;
  cursor: url(../../../public/cursor.png), auto;
}

.login-icon {
  size: 10px;
}

.window {
  display: flex;
  margin-block-start: 200px;
}

.Document {
  display: flex;
  justify-content: space-evenly;
}

.PageContent {
  display: flex;
}

.progressBar {
  width: 100px;
}
